@page
@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHOEBOX</title>

    <link rel="stylesheet" href="home.css">
    <script src="home.js" defer></script>
</head>
<body>
    <section class="page-content">
        <article class="slideshow">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1" checked="checked">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <a href="mens-streetwear.html"><img src="assets/showcase-mens-trainers.jpg" alt="slideshow display"></a>
                </div>
                <div class="slide">
                    <a href="womens-streetwear.html"><img src="assets/test7.jpg" alt="slideshow display"></a>
                </div>
                <div class="slide">
                    <a href="mens-formals.html"><img src="assets/showcase-mens-formals.jpg" alt="slideshow display"></a>
                </div>
                <div class="slide">
                    <a href="womens-formals.html"><img src="assets/test6.jpg" alt="slideshow display"></a>
                </div>
            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </article>

        <article class="product-information">
            <h2 id="product-info-header">Why shop with us?</h2>
            <p id="product-info-para">Shoebox offers the newest shoes available, designed for comfort and breathability while still maintaining your fresh look.</p>
        </article>

        <article class="product-banner">
            <img class="" src="assets/banner.jpg" alt="trainers">
        </article>

        <article class="product-display">
            <a href="mens-streetwear.html" class="image-text">
                <img src="assets/product-display-mens.jpg" class="product-display-img" alt="mens trainers">
                <h2 class="heading">SHOP MENS</h2>
                <p>Enhance your look for both casual and formal occasions.</p>
            </a>
            <a href="womens-streetwear.html" class="image-text">
                <img src="assets/product-display-womens.jpg" class="product-display-img" alt="womens trainers">
                <h2 class="heading">SHOP WOMENS</h2>
                <p>Whether you want trainers or heels, we've got them.</p>
            </a>
            <a href="kids.html" class="image-text">
                <img src="assets/product-display-kids.jpg" class="product-display-img" alt="kids shoes">
                <h2 class="heading">SHOP KIDS</h2>
                <p>Brighten your kids day.</p>
            </a>
            <a href="specials.html" class="image-text">
                <img src="assets/specials.jpg" class="product-display-img" alt="special shoes">
                <h2 class="heading">SHOP SPECIALS</h2>
                <p>Hottest new looks for limited time only.</p>
            </a>
        </article>
    </section>
</body>
</html>