@page
@model ShoeboxDynamic.Pages.kidsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KIDS</title>

    <link rel="stylesheet" href="productpage.css">
    <script src="productpage.js" defer></script>
</head>
<body>
    <section class="page-content">
        <div class="product-video">
            <video class="" controls autoplay loop>
                <source src="assets/video.mp4" type="video/mp4">
                Your browser does not support videos.
            </video>
        </div>

        <section class="catalogue-container">
            <article id="block1" class="product-block">
                <img class="product-image" src="assets/lefteris-kallergis-j1GiPlvSGWI-unsplash.jpg" alt=""></img>
                <div class="product-details">
                    <p>Nike Air Max</p>
                    <p>£60.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block2" class="product-block">
                <img class="product-image" src="assets/raka-rachgo-Lr3gNhLocz4-unsplash.jpg" alt=""></img>
                <div class="product-details">
                    <p>Vans Green</p>
                    <p>£40.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block3" class="product-block">
                <img class="product-image" src="assets/pexels-danika-pope-14802536.jpg" alt=""></img>
                <div class="product-details">
                    <p>Kids Army Wellies</p>
                    <p>£20.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
        </section>
    </section>
</body>
</html>