@page
@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MENS - Formals</title>

    <link rel="stylesheet" href="productpage.css">
    <script src="productpage.js" defer></script>
</head>
<body>
    <section class="page-content">
        <div class="product-video">
            <video class="" controls autoplay loop>
                <source src="assets/mens-formal-vid.mp4" type="video/mp4">
                Your browser does not support videos.
            </video>
        </div>

        <section class="catalogue-container">
            <article id="block1" class="product-block">
                <img class="product-image" src="assets/mens-formals1.jpg" alt=""></img>
                <div class="product-details">
                    <p>Brown boots</p>
                    <p>£70.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block2" class="product-block">
                <img class="product-image" src="assets/mens-formals2.jpg" alt=""></img>
                <div class="product-details">
                    <p>Brown Leather Shoes</p>
                    <p>£65.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block3" class="product-block">
                <img class="product-image" src="assets/mens-formals3.jpg" alt=""></img>
                <div class="product-details">
                    <p>Mens Brown Loathers</p>
                    <p>£60.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
        </section>
    </section>
</body>
</html>