@page
@model ShoeboxDynamic.Pages.womens_formalsModel
@{
}
!DOCTYPE html>
<html lang="en">
<head>
    <title>WOMENS - Formals</title>

    <link rel="stylesheet" href="productpage.css">
    <script src="productpage.js" defer></script>
</head>
<body>
    <section class="page-content">
        <section class="catalogue-container">
            <article id="block1" class="product-block">
                <img class="product-image" src="assets/mostafa-mahmoudi-uianIkmhuvk-unsplash.jpg" alt=""></img>
                <div class="product-details">
                    <p>Black Boots</p>
                    <p>£60.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block2" class="product-block">
                <img class="product-image" src="assets/pesce-huang-BV8YCnXD7Ys-unsplash.jpg" alt=""></img>
                <div class="product-details">
                    <p>Black Heels</p>
                    <p>£40.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block3" class="product-block">
                <img class="product-image" src="assets/showcase-womens-formals.jpg" alt=""></img>
                <div class="product-details">
                    <p>Cream Heels</p>
                    <p>£40.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
            <article id="block4" class="product-block">
                <img class="product-image" src="assets/test6.jpg" alt=""></img>
                <div class="product-details">
                    <p>White heels</p>
                    <p>£40.00</p>
                    <i class="uil uil-shopping-basket" title="Add to Basket"></i>
                </div>
            </article>
        </section>
    </section>
</body>
</html>